<div class="bg-gray-700 p-10 min-h-screen flex justify-center">
  <div class="max-w-[768px] bg-white p-5 rounded-lg w-full">
    <h1 class="text-center text-2xl mb-4">
      Angular ToDoList
    </h1>
    <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
    <div class="text-center">
      <app-button-utils
          class="mr-2"
          [color]="'emerald'"
          (click)="selectData('all')"
        >
        全部
        </app-button-utils>
        <app-button-utils
        class="mr-2"
          [color]="'emerald'"
          (click)="selectData('undone')"
        >
        已完成
        </app-button-utils>
        <app-button-utils
          [color]="'emerald'"
          (click)="selectData('completed')"
        >
        未完成
        </app-button-utils>
    </div>
    <app-list-todo [lists]="lists" (deleteItem)="deleteItem($event)" (updateDone)="updateDone()"></app-list-todo>
    <div class="flex justify-between items-center">
      <p>目前有 <span class="font-medium">{{ hasDone }}</span> 個事項待完成</p>

      <div>
        <app-button-utils
          class="mr-2"
          [color]="'emerald'"
          (click)="clearHasDone()"
        >
          清除完成事項
        </app-button-utils>
        <app-button-utils
          [color]="'rose'"
          (click)="clearAll()"
        >
          全部清除
        </app-button-utils>
      </div>
    </div>
  </div>
</div>
